*.o
*.d
*.so
*.opk
*.zip
compile_commands.json
picoarch
/.cache
/pkg
/profile
/system

/beetle-pce-fast
/bluemsx
/dosbox-pure
/fake-08
/fbalpha2012
/fceumm
/fmsx
/gambatte
/gme
/gpsp
/mame2000
/mame2003_plus
/mednafen_ngp
/mednafen_wswan
/pcsx_rearmed
/picodrive
/pokemini
/quicknes
/smsplus-gx
/snes9x2002
/snes9x2005
/snes9x2005_plus
/snes9x2010
/stella2014
