[Desktop Entry]
Name=PicoArch
Comment=SDL Libretro frontend
Exec=picoarch %f
Icon=picoarch
Categories=games
SelectorFilter=so
SelectorDir=/mnt/Libretro/cores
X-OD-Manual=README.funkey-s.md
